<html>
<head>
    <style>
        code {
            font-family: Consolas,"courier new";
            color: crimson;
            background-color: #f1f1f1;
            padding: 2px;
            font-size: 105%;
            white-space: pre;
        }
    </style>
    <script>
    </script>
</head>
    <body style="padding:10px">
        <h1>Kameri Service APIs</h1>
        <div style="margin:20px; padding: 20px">
            <p style="font-size:150%;"><i>
                By using `tid` as cookie kameri service managed your session.
                It will be automatically set by kameri-service whenever you make
                your first API request.
            </i><p>
        </div>
<!--
# Sample API
-->
        <div style="margin:20px;">
            <h2>1. Sample API</h2>
            <h3> GET /api/sample/</h3>
            <h3>Request: </h3>
            <code>
curl -X GET https://kameri-service.herokuapp.com/api/sample/
            </code>
            <h3>Response: </h3>
            <code>[
    {
        "id": 1,
        "title": "Exercise",
        "status": "Pending",
        "description": "I have to go exercise at 6:00PM.",
    },
    {
        "id": 2,
        "title": "Deploy Kameri",
        "status": "In Progress",
        "description": "Deploy Kameri Service on Heroku.",
    },
    {
        "id": 3,
        "title": "Doctor appointment",
        "status": "Pending",
        "description": "I have a doctor's appointment at 4:00PM",
    },
    {
        "id": 4,
        "title": "Meeting with Arpita",
        "status": "Pending",
        "description": "I have to discuss Fly.io deployment at 5:00PM.",
    },
    {
        "id": 5,
        "title": "Meeting with Amitu",
        "status": "Pending",
        "description": "I have to discuss FPM registry with Amitu.",
    }
]</code>
        </div>


<!--
# add-todo
-->
        <div style="margin:20px; padding:20px">
            <h2>2. Add Todo</h2>
            <h3> POST /api/add-todo/</h3>
            <h3>Request: </h3>
            <code>
curl -X POST \
--data '{"title": "Take update from Interns", "status": "In Progress", "description": "Description"}' \
https://kameri-service.herokuapp.com/api/add-todo/
            </code>
            <h3>Response: </h3>
            <code>{"redirect": "/"}</code>
        </div>


<!--
# add-todo
-->
        <div style="margin:20px; padding:20px">
            <h2>3. List Todo</h2>
            <h3> GET /api/todos/</h3>
            <h3>Request: </h3>
            <code>curl -X GET https://kameri-service.herokuapp.com/api/todos/</code>
            <h3>Response: </h3>
            <code>
[{
        "id": 1,
        "title": "Exercise",
        "status": "Pending",
        "description": "I have to go exercise at 6:00PM.",
}]</code>
        </div>


<!--
# update-todo
-->
        <div style="margin:20px; padding:20px">
            <h2>4. Update Todo</h2>
            <h3> POST /api/update-todo/</h3>
            <h3>Request: </h3>
            <code>
curl -X POST \
--data '{"id": 1, "status": "done"}' \
https://kameri-service.herokuapp.com/api/update-todo/
            </code>
            <h3>Response: </h3>
            <code>{"reload": true}</code>
        </div>

    </body>
</html>
